﻿
@{
    ViewBag.Title = "AddAStudentLogin";
}

<h2>Create A Staff Login</h2>


<form action="UpdateStaffLogin" method="post">
    @{string loggedInUserName = ViewBag.userName; }
    @Html.Hidden("userName", loggedInUserName);

    @*@using (Html.BeginForm("UpdateStaffLogin", "Staff"))
        {*@
    <table>
        <tr>
            <td>@Html.Label("Staff Name: ")</td>
            <td>@Html.TextBox("staffName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Staff's User Name: ")</td>
            <td>@Html.TextBox("userName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Staff's email address: ")</td>
            <td>@Html.TextBox("emailAddress")</td>
        </tr>
        <tr>
            <td>@Html.Label("Confirm staff's email address: ")</td>
            <td>@Html.TextBox("emailAddress2")</td>
        </tr>
        <tr>
            <td>@Html.Label("Is the staff a admin: ")</td>
            <td>
                @Html.DropDownList("isAdmin", new SelectList(new List<Object>{new { value = "Yes" , text = "Yes" },
                    new { value = "No" , text = "No"}}, "value", "text", 2))
            </td>
        </tr>
        <tr>
            <td>Initial Passwords are set to "Password"</td>
        </tr>
    </table>

    <div class="col-sm-10">
        <div class="pull-left">
            @* <input value="Submit" type="submit" id="inputButton" />*@

            <input value="Submit" type="submit" class='btn btn-fill btn-success btn-wd btn' id="inputButton" />

            @* <input type='button'  id="inputButton" class='btn btn-fill btn-primary btn-wd btn-sm' name='Submit' value='Submit' />*@
        </div>
    </div>
    @*}*@
</form>

