﻿@using Capstone.Web.Models;

@model List<EmployerTeam>

@{
    ViewBag.Title = "AssignRoom";
}


<h2>Update Rooms</h2>


<div>@Html.Label("Please pick a matchmaking event:")</div>
<div>@Html.DropDownList("matchmakingId", (List<SelectListItem>)ViewBag.Arrangements)</div>

@*@using (Html.BeginForm("UpdateRoom", "Staff"))
{*@

<form action="UpdateRoom" method="post">
    @{string loggedInUserName = ViewBag.userName; }
    @*@ViewBag.userName;
    @ViewBag.UserRole;*@
    <input id="userName" name="userName" type="hidden" value="@ViewBag.userName" />;

    @Html.Hidden("userName", loggedInUserName);
    <table>
        <tr>
            <td>@Html.Label("Employer Name")</td>
            <td>@Html.Label("Team Number")</td>
            <td>@Html.Label("Assign Room")</td>
        </tr>
        @foreach (EmployerTeam e in Model)
        {
            <tr>
                <td>@Html.Label(e.EmployerName)</td>
                <td>@Html.Label(e.TeamId.ToString())</td>
                <td>@Html.TextBox(e.EmployerName + e.TeamId + "assignedRoom", e.AssignedRoom)</td>
            </tr>
        }

    </table>

    <div class="col-sm-10">
        <div class="pull-left">
            @* <input value="Submit" type="submit" id="inputButton" />*@

            <input value="Submit" type="submit" class='btn btn-fill btn-success btn-wd btn' id="inputButton" />

            @* <input type='button'  id="inputButton" class='btn btn-fill btn-primary btn-wd btn-sm' name='Submit' value='Submit' />*@
        </div>
    </div>
    @*}*@
    </form>

